*
{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body
{
    padding: 1em;
    max-width: 36em;
    margin: auto;
    
    color: #111;
    font-family: cambria, serif;
}

img
{
    width: 100%;
}

h2
{
    font-size: 1.5em;
    font-weight: bold;
}

input, button
{
    font: inherit;
    padding: 0.15em 0.45em;
}

span
{
    outline: none;
    border-bottom-width: 1px;
    border-bottom-color: #111;
    border-bottom-style: dashed;
}

ol
{
    counter-reset: item;
    list-style-type: none;
}

ol   li:not(:last-of-type)
{
    margin-bottom: 0.25em;
}

ol   li:before
{
    font-weight: bold;
    
    counter-increment: item;
    content: counter(item, decimal) ": ";
}
